body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #CFD0CD;
    width: 100%;
}
.candidate {
    display: flex;
    gap: 6px;
}
.candidate img{
    border-radius: 50%;
    width: 30px;

}
.standAlone{
    display: flex;
}
.standAlone img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;

}
.candidate p  {
    color: hsla(0, 0%, 100%, 0.418);
}
.comment p{
  color: hsl(0, 4%, 25%);
  font-size: 15px;

}

.parent{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.quotation{
    display: flex;
    justify-content: flex-end;
    transform: translateY(-50px);
}
.top .left, .top .right,
.bottom .left, .bottom .right{
    margin-bottom: 1.2rem;
   
}
.left{
    background-color: #7441c6;
}
.right{
    background-color: #47566A;
}
.bottom .left{
    background-color:white; 
}
.bottom .right{
    background-color: grey;
}
.left, .right{
    padding: 1.5rem;
}
.comment h5{
    font-weight: 700;
    font-size: 13px;
    
}

.sectionTwo{
   padding: 1rem;
   height: 45.7rem;
}

@media screen and (min-width: 785px){
    .main{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .parent{
        width: 75%;
        display: flex;
        justify-content: center;
    }
    .sectionOne{
        flex-basis: 75%;
    }
    
    .top .left {
        margin-right: 0.7rem;
    }
    .bottom .right{
        margin-left: 0.7rem;
    }
    .top, .bottom{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .top .left{
        flex-basis: 65%;
    }
    .bottom .left{
        flex-basis: 35%;
    }
    .top .right {
        flex-basis: 35%;
    }
    .bottom .right{
        flex-basis: 65%;
    }
    .sectionTwo{
        flex-basis: 25%;
        background-color: #fff;
        margin-left: 0.7rem;
    } 
    .comment h5{
        font-size: 1rem;
    }
    .comment p{
        font-size: 15px;
    }

}